# If this doesn't work, it's because the cdqi5 branch has been turned into a tag, in which case you want to say:
# github "prosumma/CoreDataQueryInterface" ~> "5.0"
github "prosumma/CoreDataQueryInterface" "cdqi5"
